################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/.vs/NP.Demos.AccessPropertiesInXamlSample
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/bin/Debug/net6.0
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/.vs
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/bin/Debug/net6.0
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/.vs
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/bin/Debug/net6.0
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/obj/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/MainProject/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsPresenterSample/.vs/ItemsControlSample/v17
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsPresenterSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/bin/Debug/net6.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/obj/Debug/net6.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsControlSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsControlSample/obj/Debug/net6.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsControlSample/obj
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.Brushes/obj
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/.vs/ProjectEvaluation
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.Brushes/.vs/NP.Demos.Brushes/FileContentIndex/bf2a2eb7-3c75-42e5-893b-f444b16d2314.vsidx
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.Brushes/.vs
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.SimpleAvaloniaProject/.vs
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.SimpleAvaloniaProject/obj/Debug/net5.0
/NP.Demos.AvaloniaBuildingBlocks/NP.Demos.SimpleAvaloniaProject/obj
